
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 >Welcome To About Page</h1>
                    <p style="text-align: justify;">Content detection involves using the Apache Tika framework to extract metadata and content from a variety of file formats including text documents, TXT, PDF, and HTML,etc. The framework is designed to automatically detect the language of the given document,It can also detect the type of the data the document is in and the specific Multipurpose Internet Mail Extensions (MIME) using the MIME Detection Mechanism. It is capable of extracting the text and metadata of the given document(s).</p>
                    <button mat-raised-button color="primary">About</button>
                </div>
            </div>
        </div>
    </div>
</div>
