<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">
  <div class="content">
    <h3>Contents Detection By Using </h3>
    <h3>Apache TIKA</h3>
    <p>
      Content Detection involves Apache Tika framework to extract metadata and content from a variety of file formate.
    </p>
    <a (click)="openmodelboxlogin()" class="btn animate__backInUp">Login Here &nbsp;<fa-icon [icon]="login">
      </fa-icon></a>
  </div>

  <div class="image">
    <img src="../../../assets/img/home-img.png" alt="" />
  </div>
</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">
  <h1 class="heading">top features</h1>

  <div class="box-container">
    <div class="box">
      <img src="../../../assets/img/f-icon1.png" alt="" />
      <h3>Language detection</h3>
      <p>
        It can detect the language of the text content within a file, which can be useful for applications that need
        to process multilingual documents.
      </p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="../../../assets/img/contact-img.svg" alt="" />
      <h3>Metadata extraction</h3>
      <p>
        It can extract a wide range of metadata from files, including author information, creation and modification dates, and more.
      </p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="../../../assets/img/f-icon3.png" alt="" />
      <h3>Embedded document detection</h3>
      <p>
        Tika can detect and extract embedded documents within other files, such as attachments within email messages.
      </p>
      <a href="#" class="btn">read more</a>
    </div>
  </div>
</section>

<!-- features section ends -->

<!-- about section starts  -->

<section class="about" id="about">
  <h1 class="heading">about the app</h1>

  <div class="column">
    <div class="image">
      <img src="../../../assets/img/about-img.png" alt="" />
    </div>

    <div class="content">
      <h3>Here are the basic steps to send an email using JavaMail API:</h3>
      <p>
        SMTP (Simple Mail Transfer Protocol) is the standard protocol used for sending email messages over the internet. In Java, you can use the JavaMail API to send SMTP email messages. Here's an example code snippet to send an email using SMTP in Java:
      </p>
      <p>
       <b>Create a Session object:</b>  The Session object is used to establish a connection with the mail server and to set various properties such as the SMTP server address, port number, authentication, and SSL/TLS encryption.
        java
        
      </p>
      <p><b>Create a MimeMessage object:</b> The MimeMessage object represents the email message that you want to send. You can set various properties of the message such as the sender's and recipient's email addresses, subject, body, and attachments.</p>
      <p><b>Send the message:</b> Once you have created the MimeMessage object, you can send it using the Transport class.</p>
      <div class="buttons">
        <a href="#" class="btn">
          <fa-icon [icon]="fa"> </fa-icon> Apple Store
        </a>
        <a href="#" class="btn">
          <fa-icon [icon]="app"> </fa-icon> Apple Store
        </a>
      </div>
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- newsletter  -->

<div class="newsletter">
  <h3>Subscribe For Instant Updates</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sed
    aliquam quibusdam neque magni magnam est laborum doloribus, facere
    dolores.
  </p>
  <form action="">
    <input type="email" placeholder="enter your email" />
    <input type="submit" value="Subscribe" />
  </form>
</div>

<!-- review section starts  -->

<section class="review" id="review">
  <h1 class="heading">Customer's review</h1>

  <div class="box-container">
    <div class="box">
      <fa-icon [icon]="rq" class="rigti"> </fa-icon>
      <div class="user">
        <img src="../../../assets/img/f-icon1.jpg" alt="" />
        <h3>Sant Kumar</h3>
        <div class="stars">
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
        </div>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
          et, perspiciatis nisi tempore aspernatur accusantium sed
          distinctio facilis aperiam laborum autem earum repellat, commodi
          eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>

    <div class="box">
      <fa-icon [icon]="rq" class="rigti"> </fa-icon>
      <div class="user">
        <img src="../../../assets/img/f-icon1.jpg" alt="" />
        <h3>Sant Kumar</h3>
        <div class="stars">
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
        </div>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
          et, perspiciatis nisi tempore aspernatur accusantium sed
          distinctio facilis aperiam laborum autem earum repellat, commodi
          eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>

    <div class="box">
      <fa-icon [icon]="rq" class="rigti"> </fa-icon>
      <div class="user">
        <img src="../../../assets/img/f-icon1.jpg" alt="" />
        <h3>Sant Kumar</h3>
        <div class="stars">
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
          <fa-icon [icon]="star"> </fa-icon>
        </div>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
          et, perspiciatis nisi tempore aspernatur accusantium sed
          distinctio facilis aperiam laborum autem earum repellat, commodi
          eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>
  </div>
</section>

<!-- review section ends -->

<!-- pricing section starts  -->

<section class="pricing" id="pricing">
  <h1 class="heading">Our App Pricing</h1>

  <div class="box-container">
    <div class="box">
      <h3 class="title">basic</h3>
      <div class="price">$35<span>/monthly</span></div>
      <ul>
        <li> <fa-icon [icon]="check" class="ch"> </fa-icon> unlimited transactions</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon>No trading charges</li>
        <li><fa-icon [icon]="gr" class="cl"> </fa-icon> Instant Payments</li>
        <li><fa-icon [icon]="gr" class="cl"> </fa-icon> International Stocks</li>
      </ul>
      <a href="#" class="btn">check out</a>
    </div>

    <div class="box">
      <h3 class="title">standard</h3>
      <div class="price">$65<span>/monthly</span></div>
      <ul>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> unlimited transactions</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> No trading charges</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> Instant Payments</li>
        <li><fa-icon [icon]="gr" class="cl"> </fa-icon> International Stocks</li>
      </ul>
      <a href="#" class="btn">check out</a>
    </div>

    <div class="box">
      <h3 class="title">premium</h3>
      <div class="price">$95<span>/monthly</span></div>
      <ul>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> unlimited transactions</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> No trading charges</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> Instant Payments</li>
        <li><fa-icon [icon]="check" class="ch"> </fa-icon> International Stocks</li>
      </ul>
      <a href="#" class="btn">check out</a>
    </div>
  </div>
</section>

<!-- pricing section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">
  <div class="image">
    <img src="../../../assets/img/contact-img.svg" alt="" />
  </div>

  <form [formGroup]="formgroups" (ngSubmit)="sendmail(formgroups.value)">
    <h1 class="heading">contact us</h1>

    <div class="inputBox">
      <input type="text" required formControlName="name"/>
      <label>name</label>
    </div>

    <div class="inputBox">
      <input type="email" required  formControlName="email"/>
      <label>email</label>
    </div>

    <div class="inputBox">
      <input type="tel" required  formControlName="phone"/>
      <label>phone</label>
    </div>

    <div class="inputBox">
      <textarea required name="" id="" cols="30" rows="10" formControlName="message"></textarea>
      <label>message</label>
    </div>

    <input type="submit" class="btn"/>
  </form>
</section>

<!-- contact section edns -->

<!-- footer section starts  -->

<div class="footer">
  <div class="box-container">
    <div class="box">
      <h3>about us</h3>
      <p>
        Content detection involves using the Apache Tika framework to extract metadata and content from a variety of file formats including text documents, TXT, PDF, and HTML,etc. The framework is designed to automatically detect the language of the given document,It can also detect the type of the data the document is in and the specific Multipurpose Internet Mail Extensions (MIME) using the MIME Detection Mechanism. It is capable of extracting the text and metadata of the given document(s).</p>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="#">home</a>
      <a href="#">features</a>
      <a href="#">about</a>
      <a href="#">review</a>
      <a href="#">pricing</a>
      <a href="#">contact</a>
    </div>

    <div class="box">
      <h3>follow us</h3>
      <a href="#">youtube</a>
      <a href="#">instagram</a>
      <a href="#">twitter</a>
      <a href="#">linkedIn</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <div class="info">
        <fa-icon [icon]="phone"> </fa-icon>
        <p>+918340422551</p>
      </div>
      <div class="info">
        <fa-icon [icon]="email"> </fa-icon>
        <p>sant.kumar@dataresolve.com</p>
      </div>
      <div class="info">
        <fa-icon [icon]="location"> </fa-icon>
        <p>Gurugram, India -122001</p>
      </div>
    </div>
  </div>
  
  <h1 class="credit">copyright &copy; 2023 Technicalsantji All rights reserved</h1>
</div>