<div class="conatainer-fluid bgc">
  <div class="header header1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
      <div class="main ">
        <h2 >Abstract</h2>
        <p>
          Content detection involves using the Apache Tika framework to extract metadata and content from a variety of file formats including text documents, TXT, PDF, and HTML,etc. The framework is designed to automatically detect the language of the given document,It can also detect the type of the data the document is in and the specific Multipurpose Internet Mail Extensions (MIME) using the MIME Detection Mechanism. It is capable of extracting the text and metadata of the given document(s).
        </p>

        <div class="container text-center mt-3">
          <button mat-raised-button color="accent" (click)="download()" >Download</button>
        </div>
        
      </div>

  </div>
 
</div>