<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ika allows us to get extracted content in various formats like text, html or xhtml etc. The ContentHandler 
        class is responsible for returning content. We can use BodyContentHandler also if want to get content of the document's body as plain text.</h1>
</body>
</html>