.header{
    background: rgb(16,55,223);
    background: linear-gradient(54deg, rgba(16,55,223,1) 0%, rgba(213,15,215,1) 0%, rgba(2,233,255,1) 0%, rgba(199,97,242,1) 100%, rgba(182,132,253,1) 100%, rgba(180,130,255,1) 100%);
    height: 50px;
}
.hgt{
    height:100vh;
}
.parent{
    display: flex;
    justify-content: space-between;
}
.editk{
    background-color: antiquewhite;
    border-bottom: 2px groove blue;
}
